
:root {
	--color-black: #000000;
	--color-blue: #594FFB;
	--color-white: #FFFFFF;
	--color-text-white: #FFFFFF;
	--font-Lato: 'Lato', sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--font-size-base: 1.375rem;
	--font-size-small: 1.125rem;
	--font-size-large: 3.125rem;
}

body {
	background-color: var(--color-black);
	color: var(--color-text-white);
	font-family: var(--font-Lato);
	font-weight: var(--font-weight-regular);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	padding: 20px;
}

.container {
	max-width: 500px;
	padding: 20px;
	background-color: var(--color-black);
	box-shadow: 0 4px 10px rgba(223, 172, 172, 0.6);
	border-radius: 10px;
}

h1 {
	font-size: var(--font-size-large);
	color: var(--color-blue);
	font-weight: var(--font-weight-bold);
	margin-bottom: 20px;
}

p {
	font-size: var(--font-size-base);
	margin-bottom: 20px;
}

a {
	display: inline-block;
	padding: 10px 20px;
	font-size: var(--font-size-small);
	color: var(--color-white);
	background-color: var(--color-blue);
	border-radius: 5px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover {
	background-color: var(--color-white);
	color: var(--color-black);
}
